label {
    padding: 5px;
    display: inline-block;
    width: 130px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], input[type='time'], textarea {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: ghostwhite;
    padding: 10px;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: calc(100% - 130px - 20px - 20px);
}

textarea {
    height: 250px;
    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}
input:read-only, textarea:read-only {
    background-color: #ccc;
    color: #ffffff;
}

input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    width: 80px;
    background: #48bbc7;
    color: #fff;
    font-size:16px;
    border-radius: 10px;
}

input[type="submit"]:hover
{
    cursor: pointer;
    background: #7ac8ee;
}

ul{
    font-size: 16px;
    list-style: none;
    margin: 5px;
    /*background-color: #ff3030;
    */
    color: #ff3030; /*#ff7878;*/
}
